body {
    background-color: azure;
  }
  
  .frame {
    width: 400px;
    height: 400px;
    position: relative;
    background-color: #666360;
  }
  
  .grey-1 {
    position: absolute;
    width: 196px;
    height: 196px;
    top: 4px;
    left: 4px;
    background-color: #a6a9b6;
  }
  
  
  .grey-2 {
    position: absolute;
    width: 196px;
    height: 196px;
    bottom: 4px;
    right: 4px;
    background-color: #a6a9b6;
  }
  
  .light-grey {
    position: absolute;
    width: 196px;
    height: 196px;
    bottom: 4px;
    left: 4px;
    background-color: #ff912e;
  }
  
  .orange-1 {
    position: absolute;
    width: 196px;
    height: 196px;
    top: 4px;
    right: 4px;
    background-color: #e4e4e4;
  }