* {
    padding: 0;
    margin: 0;
}

body {
    height: 30000px;
}

.fixed {
    position: fixed;
    top: 20px;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: khaki;
}

.sticky {
    position: sticky;
    height: 200px;
    width: 100%;
    top: 0;
    background-color: royalblue;
}

.static {
    width: 450px;
    height: 400px;
    background-color: gold;
}

.absolute {
    position: absolute;
    top: 40px;
    left: 60px;
    width: 450px;
    height: 120px;
    background-color: blueviolet;
}

.relative {
    position: relative;
    width: 580px;
    height: 450px;
    background-color: gray;
    top: 60px;
    left: 60px;
}